platform: linux

image_resource:
  type: docker-image
  source:
    repository: node
    tag: latest

inputs:
  - name: source-code

outputs:
  - name: source-code-built

run:
  path: sh
  args:
  - -exc
  - |
    ls
