platform: linux

image_resource:
  type: docker-image
  source:
    repository: node
    tag: latest

inputs:
  - name: source-code

outputs:
  - name: source-code-built

run:
  path: sh
  args:
  - -exc
  - |
    ls source-code
    cp -r source-code/* source-code-built/
    ls source-code-built
    /usr/local/bin/npm start
    vim /tmp/build/80754af9/npm-debug.log 